<div>
<h1><%=t('show.id', id: @task.id)%> </h1>
<p><b><%=t('show.task_number') %></b><%= @task.task_number %></p>
<p><b><%=t('show.comment') %></b><%= @task.comment %></p>
<p><b><%=t('show.status') %></b><%= @task.status %></p>
</div>
